.you-died {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  height: 60vh;
  background: linear-gradient(transparent 0%, black 25%, black 50%, black 75%, transparent 100%);
}

.you-died p {
  font-size: 10em;
  color: #982d45;
  margin: 50px;
}

.you-died a {
  color: antiquewhite;
  font-size: 2em;
}

#move-controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*width: 250px;*/
  width: max-content;
  z-index: 50;
}
.entity{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  font-size: 0.85rem;
}
.player {
  background: aqua;
}
.monster {
  background: brown;
}
.entity div {
  background: inherit;
  padding: 2px;
}
.died {
  background: gray;
}